* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedede;
}

/* HEADER STYLING */

header {
    background-color: #bebebe;
    height: 100px;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-container {
    display: flex;
    height: 100%;
    width: max(1200px, 60%);

} 

.header-el {
    flex: 1;
    display: flex;
    align-items: center;
}

#header-nav {
    justify-content: flex-end;
}

/* NEW BUTTON */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#newBtn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

#newBtn:hover, .cardBtn:hover {
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;
}

.card-el {
    height: 200px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 50px;
    margin-top: 20px;
}

.card-title, .card-btns {
    flex: 1;
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.card-title {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

span {
    font-weight: bold;
}

.cardBtn {
    margin: 0px 20px;
    width: 75px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.active {
    background-color: #43fa65;
}

.not-active {
    background-color:#fa969e;
}