* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedede;
}

/* HEADER STYLING */

header {
    background-color: #bebebe;
    height: 100px;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-container {
    display: flex;
    height: 100%;
    width: max(1200px, 60%);

} 

.header-el {
    flex: 1;
    display: flex;
    align-items: center;
}

#header-nav {
    justify-content: flex-end;
}

/* NEW BUTTON */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#newBtn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

#newBtn:hover {
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;
}