* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedede;
}

/* HEADER STYLING */

header {
    background-color: #bebebe;
    height: 100px;
    width: 100vw;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-container {
    display: flex;
    height: 100%;
    width: max(1200px, 60%);

} 

.header-el {
    flex: 1;
    display: flex;
    align-items: center;
}

#header-nav {
    justify-content: flex-end;
}

/* NEW BUTTON */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#newBtn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bebebe;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
}

#newBtn:hover, .cardBtn:hover, #addBtn:hover {
    box-shadow: 0px 0px 5px black;
    transition: 0.2s;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 50px;
    margin-top: 20px;
}

/* CARDS */

.card-el {
    height: 200px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
}

.card-title, .card-btns {
    flex: 1;
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.card-title {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

span {
    font-weight: bold;
}

.cardBtn {
    margin: 0px 20px;
    width: 75px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.active {
    background-color: #43fa65;
}

.not-active {
    background-color:#fa969e;
}

/* FORM */

form {
    height: 400px;
    width: 350px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#titleDiv, #btnDiv {
    flex: 0.5;
    background-color: #bebebe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}

#inputDiv {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 90%;
    margin: 5px;
    padding: 3px 5px;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 20px;
}

#pages {
    width: 100px;
}

#addBtn {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #43fa65;
}

#closeBtn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.35);
}

#closeBtn:hover {
    color: red;
    transition: 0.3s;
}

#titleDiv {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#isRead {
    text-align: center;
}